# Setup

In [1]:
### Libraries
import pandas as pd
from IPython.display import display
### Python OBDC bridge
import pyodbc 
### IRIS Python Native API
import irisnative

In [2]:
### SQL Connection parameters
dsn = 'IRIS IntegeratedML monitor'
server = 'irisimlsvr'
port = '51773'
database = 'USER' 
username = 'SUPERUSER' 
password = 'SYS' 
cnxn = pyodbc.connect('DRIVER={InterSystems ODBC35};SERVER='+server+';PORT='+port+';DATABASE='+database+';UID='+username+';PWD='+ password)

### charset stuffs...
cnxn.setdecoding(pyodbc.SQL_CHAR, encoding='utf8')
cnxn.setdecoding(pyodbc.SQL_WCHAR, encoding='utf8')
cnxn.setencoding(encoding='utf8')

### Get a SQL cursor
cursor = cnxn.cursor()

In [3]:
### Native API connection's parameters
ip = "irisimlsvr"
port = 51773
namespace = "USER"
username = "SUPERUSER"
password = "SYS"

### Create database connection and IRIS instance
try:
    nativeConn = irisnative.createConnection(ip, port, namespace, username, password)
    dbnative = irisnative.createIris(nativeConn)
except:
    print('Seems like you can\'t connect to IRIS... try to exit from any IRIS terminal or other license consumption session')

# ML model setup

Let's create a model to predict appointments, using first 500 records to train it.

In [4]:
### Model's parameters
dataTable = 'MedicalAppointments'
dataColumn = 'Show'
modelName = 'AppointmentsPredection'

In [5]:
### Display dataset table
df1 = pd.read_sql(
    "SELECT * FROM %s" 
    % (dataTable), 
    cnxn
)
display(df1)

,ID,Canal,CreacionDiaD,CreacionHoraD,CreacionMesD,Edad,Especialidad,Latencia,ReservaDiaD,ReservaHoraD,ReservaMesD,Sexo,Show,Tipo
0,1,1,4,14,12,66,76,18,1,18,1,1,False,1
1,2,1,5,11,12,66,76,17,1,19,1,1,False,1
2,3,3,2,10,12,35,18,20,1,15,1,1,False,1
3,4,1,2,8,11,44,51,34,1,19,1,2,False,1
4,5,1,5,10,12,72,76,17,1,12,1,2,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61209,30657,3,1,12,1,4,23,45,4,14,3,1,True,1
61210,30658,1,5,16,1,2,39,34,4,8,3,1,True,1
61211,30659,1,4,10,1,43,51,35,4,9,3,1,True,1
61212,30660,3,7,18,1,38,18,46,4,8,3,1,True,1
61213,30661,1,4,10,1,8,21,35,4,19,3,1,True,1

In [6]:
### Clean previous runs
df1 = pd.read_sql(
    "SELECT COUNT(*) AS ModelExists FROM INFORMATION_SCHEMA.ML_TRAINED_MODELS WHERE MODEL_NAME = '%s'"
    % (modelName), 
    cnxn
)
if (df1['ModelExists'][0] > 0):
    print('Deleting previous model...')
    cursor.execute("DROP MODEL %s" % (modelName))
    print('Model deleted')
else:
    print('No previous runs found')

Deleting previous model...
Model deleted

In [7]:
### Create a model for predicting patient's appointments misses
### Note: seed parameter it's to force reproducibility
cursor.execute(
    "CREATE MODEL %s PREDICTING (%s) FROM %s USING {\"seed\": 3}" 
    % (modelName, dataColumn, dataTable)
)
print('Training model (this could take a while)...')
cursor.execute(
    "TRAIN MODEL %s FROM %s WHERE ID <= %s USING {\"seed\": 3}" 
    % (modelName, dataTable, 500)
)
print('Model trained')
cnxn.commit()

Training model (this could take a while)...
Model trained

In [8]:
### Display model information
cursor.execute("SELECT * FROM INFORMATION_SCHEMA.ML_TRAINED_MODELS")
df1 = pd.read_sql("SELECT * FROM INFORMATION_SCHEMA.ML_TRAINED_MODELS", cnxn)
display(df1)

,MODEL_NAME,TRAINED_MODEL_NAME,PROVIDER,TRAINED_TIMESTAMP,MODEL_TYPE,MODEL_INFO
0,AppointmentsPredection,AppointmentsPredection2,AutoML,2020-07-18 13:56:42.691,classification,"ModelType:Logistic Regression, Package:sklearn..."

In [9]:
### Display prediction and real patient's appointments presence
df1 = pd.read_sql(
    "SELECT PREDICT(%s) As Predicted, Show FROM %s WHERE ID <= %s" 
    % (modelName, dataTable, 500), 
    cnxn
)
display(df1)

    Predicted   Show
0           0  False
1           0  False
2           0  False
3           0  False
4           0  False
..        ...    ...
495         1   True
496         0   True
497         1   True
498         1   True
499         1   True

[500 rows x 2 columns]

# Model monitoring

Now let's validate our model using 100 new records regargind train model, i.e., the 600 first records. Note that again the parameter seed was used in order to guarantee reproducibility.

In [10]:
### Model validation
cursor.execute(
    "VALIDATE MODEL %s FROM %s WHERE ID < %s USING {\"seed\": 3}" 
    % (modelName, dataTable, 600)
)
df5 = pd.read_sql(
    "SELECT * FROM INFORMATION_SCHEMA.ML_VALIDATION_METRICS WHERE MODEL_NAME = '%s'" 
    % (modelName), cnxn
)
df6 = df5.pivot(index='VALIDATION_RUN_NAME', columns='METRIC_NAME', values='METRIC_VALUE')
display(df6)

METRIC_NAME               Accuracy  F-Measure  Precision  Recall
VALIDATION_RUN_NAME
AppointmentsPredection21       0.9       0.94       0.98    0.91

As we can see, model's accuracy is about 90%.

MyMetric.IntegratedMLModelsValidation application monitor class let you to access such metrics. Thus it's possible to IRIS' ^%SYSMONMGR monitor utility being aware about your ML models perfomance.

In [11]:
### Get the last validation parameter for each IntegeratedML model
print(dbnative.classMethodValue("MyMetric.Install", "GetSamples", "MyMetric.IntegratedMLModelsValidation"))

MyMetric - IntegratedMLModelsValidation   AppointmentsPredection2 [2020-07-18 13:57:30]   Serial value of object or the object identity:WMyMetric||IntegratedMLModelsValidation||AppointmentsPredection2 [2020-07-18 13:57:30].MyMetric.Sample.IntegratedMLModelsValidation
   Accuracy:                    .9
   F-Measure:                  .94
   Precision:                  .98
   Recall:                     .91
   Name of the model definition:APPOINTMENTSPREDECTION
   Name of the trained model being validated:AppointmentsPredection2 [2020-07-18 13:57:30]
   Validation error (if encountered):1

Same results also could see by CSP interface: http://localhost:8092/csp/user/MyMetric.Sample.IntegratedMLModelsValidation.cls

With such functionality, someone could setup an alert into ^%SYSMONMGR monitor utility, checking model's performance metrics against thresholds. This way, IntegeratedML applications performance issues could be quickly notified.

# Simulating a performance issue

Let's re-validate the model, but this turn, using first 800 records and see how this affects to model's performance metrics.

In [12]:
### Model validation
cursor.execute(
    "VALIDATE MODEL %s FROM %s WHERE ID < %s USING {\"seed\": 3}" 
    % (modelName, dataTable, 800)
)

In [13]:
### Get the last validation parameter for each IntegeratedML model
print(dbnative.classMethodValue("MyMetric.Install", "GetSamples", "MyMetric.IntegratedMLModelsValidation"))

MyMetric - IntegratedMLModelsValidation   AppointmentsPredection2 [2020-07-18 13:58:33]   Serial value of object or the object identity:WMyMetric||IntegratedMLModelsValidation||AppointmentsPredection2 [2020-07-18 13:58:33].MyMetric.Sample.IntegratedMLModelsValidation
   Accuracy:                   .87
   F-Measure:                  .93
   Precision:                  .98
   Recall:                     .88
   Name of the model definition:APPOINTMENTSPREDECTION
   Name of the trained model being validated:AppointmentsPredection2 [2020-07-18 13:58:33]
   Validation error (if encountered):1

Now model's accuracy had descreased to about 87%.

Let's say that for you business rule, performances less than 90% are unacceptable. If you had previously setup an alert to notify your team when model's performance is less than 90%, such team could be quickly notified and take care about this issue.

Please refer to the System Monitor [documentation](https://irisdocs.intersystems.com/irislatest/csp/docbook/Doc.View.cls?KEY=GCM_healthmon) to see how setup such alert.

# Responding to notification of performance issue

An approach to deal with such performance issue could be simply retrain the model. However, there isn't a rule and each case demands properly analysis.

In [14]:
### Retrain model using first 800 records
print('Training model (this could take a while)...')
cursor.execute(
    "TRAIN MODEL %s FROM %s WHERE ID <= %s USING {\"seed\": 3}" 
    % (modelName, dataTable, 600)
)
print('Model trained')
cnxn.commit()

### Model validation
cursor.execute(
    "VALIDATE MODEL %s FROM %s WHERE ID <= %s USING {\"seed\": 3}" 
    % (modelName, dataTable, 800)
)

Training model (this could take a while)...
Model trained

In [15]:
### Get the last validation parameter for each IntegeratedML model
print(dbnative.classMethodValue("MyMetric.Install", "GetSamples", "MyMetric.IntegratedMLModelsValidation"))

MyMetric - IntegratedMLModelsValidation   AppointmentsPredection4 [2020-07-18 13:59:48]   Serial value of object or the object identity:WMyMetric||IntegratedMLModelsValidation||AppointmentsPredection4 [2020-07-18 13:59:48].MyMetric.Sample.IntegratedMLModelsValidation
   Accuracy:                   .96
   F-Measure:                  .98
   Precision:                  .97
   Recall:                     .99
   Name of the model definition:APPOINTMENTSPREDECTION
   Name of the trained model being validated:AppointmentsPredection4 [2020-07-18 13:59:48]
   Validation error (if encountered):1

# Teardown

In [16]:
### Close the database and native API connections
nativeConn.close()
cnxn.close()